
@font-face {
	font-family: "Oswald";
	src: url("../fonts/Oswald-VariableFont_wght.woff2") format("woff2");
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Poppins";
	src: url("../fonts/Poppins-Medium.woff2") format("woff2");
	font-display: swap;
	font-weight: 500;
	font-style: normal;

}

/*приклад підключення двох варіацій regular та bold однієї родини шрифту Inter*/
/* @font-face {
	font-family: "KoPubBatang";
	src: url("../fonts/KoPubBatang-Regular.woff2") format("woff2");
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "KoPubBatang";
	src: url("../fonts/KoPubBatang-Light.woff2") format("woff2");
	font-display: swap;
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "KoPubBatang";
	src: url("../fonts/KoPubBatang-Bold.woff2") format("woff2");
	font-display: swap;
	font-weight: 700;
	font-style: normal;
} */
